---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbars/Navbar.astro";
import BlogPageBanner from "../components/blogpage/BlogPageBanner.astro";
import Blogs from "../components/blogpage/Blogs";
import Footer from "../components/common/Footer.astro";
---

<Layout title="Blogs">
  <main class="mb-14">
    <Navbar />
    <BlogPageBanner />
    <Blogs />
    <Footer />
  </main>
</Layout>
