---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbars/Navbar.astro';
---

<Layout title="Contact Me">
	<main class="mb-20">
        <Navbar />
    </main>
</Layout>