---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HomeIntro from '../components/HomeIntro';
---

<Layout title="Home">
	<main class="">
        <Navbar />
        <HomeIntro client:load />
    </main>
</Layout>