---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbars/Navbar.astro";
import HomeIntro from "../components/homepage/HomeIntro";
import QuickLinks from "../components/common/quickLinks";
import WorkExperiences from "../components/homepage/WorkExperiences";
import LinkedInRecommendations from "../components/homepage/LinkedInRecommendations";
import SkillsSection from "../components/homepage/SkillsSection";
import Footer from "../components/common/Footer.astro";
---

<Layout title="Home">
  <main class="mb-14">
    <Navbar />
    <HomeIntro client:load />
    <div class="mt-24">
      <QuickLinks client:visible />
    </div>
    <WorkExperiences client:visible />
    <SkillsSection client:visible />
    <LinkedInRecommendations client:visible />
    <Footer />
  </main>
</Layout>
