---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbars/Navbar.astro";
import HomeIntro from "../components/homepage/HomeIntro";
import QuickLinks from "../components/common/quickLinks";
import WorkExperiences from "../components/homepage/WorkExperiences";
---

<Layout title="Home">
  <main class="mb-20">
    <Navbar />
    <HomeIntro client:load />
    <QuickLinks client:visible />
    <WorkExperiences />
  </main>
</Layout>
