---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbars/Navbar.astro';
import HomeIntro from '../components/homepage/HomeIntro';
---

<Layout title="Home">
	<main class="">
        <Navbar />
        <HomeIntro client:load />
    </main>
</Layout>