---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbars/Navbar.astro';
import ProjectPageBanner from '../components/projectspage/ProjectPageBanner.astro';
import Projects from '../components/projectspage/Projects';
---

<Layout title="Projects">
	<main class="mb-20">
        <Navbar />
        <ProjectPageBanner />
        <Projects client:load />
    </main>
</Layout>