---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbars/Navbar.astro';
import ProjectPageBanner from '../components/projectspage/ProjectPageBanner.astro';
---

<Layout title="Projects">
	<main class="">
        <Navbar />
        <ProjectPageBanner />
    </main>
</Layout>