---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Post 🪨">
  <div class="bg-zinc-100 dark:bg-slate-800 text-black dark:text-zinc-200 h-screen">
    <h1>contact us</h1>
  </div>
</BaseLayout>
