---
import DarkModeToggle from "../components/darkModeToggle";
import NavLink from "./NavLink.astro";
import vk_logo from "../assets/vk-round-logo.png";

const navLinks = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Blog",
    href: "/blogs",
  },
  {
    name: "Contact Me",
    href: "/contact",
  },
];
---

<div>
  <div class="bg-slate-300 dark:bg-slate-900 text-zinc-800 dark:text-blue-500">
    <nav class="flex flex-row justify-between items-center mx-4 md:mx-72 py-2">
      <div class="rounded-full shadow-md shadow-slate-700 dark:shadow-indigo-500/40">
        <img src={vk_logo} alt="logo" class="w-10 md:w-14 h-auto" />
      </div>
      <div class="flex flex-row justify-center items-center gap-24">
        {navLinks.map((navLink) => <NavLink navHeader={navLink["name"]} navHref={navLink["href"]} />)}
      </div>
      <div>
        <DarkModeToggle client:visible />
      </div>
    </nav>
  </div>
</div>
