---

---

<div class="px-4 md:px-10 lg:px-60 2xl:px-72 pt-20 md:pt-3">
    <div class="flex justify-center items-start mt-10 flex-col gap-4">
        <h1 class=" text-2xl font-black tracking-widest text-blue-700 dark:text-orange-600">J S Vignesh Kanna</h1>
        <h2 class="text-xl font-bold tracking-[8px] underline underline-offset-4 decoration-blue-700 dark:decoration-orange-600 ">Project Showcase ✨</h2>
    </div>
</div>