---
import DarkModeToggle from "./darkModeToggle";
import NavLink from "./NavLinks.astro";
import MobileNavbar from "./MobileNavbar";

const navLinks = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Blog",
    href: "/blogs",
  },
  {
    name: "Projects",
    href: "/projects",
  },
  {
    name: "Contact Me",
    href: "/contact",
  },
];
---

<!-- Non mobile Menu -->
<div class=" justify-between items-center bg-gradient-to-r from-sky-600/60 to-blue-500/60 dark:bg-gradient-to-r dark:from-blue-900/60 dark:to-cyan-900/60 shadow-md shadow-slate-400 dark:shadow-blue-800/75 px-4 md:px-10 lg:px-60 2xl:px-72 py-3 hidden md:flex">
  {/* Left navlinks */}
  <div class="flex justify-center items-center gap-6 ">
    {
        navLinks.map((navLink) => <NavLink navHeader={navLink["name"]} navHref={navLink["href"]} />)
    }
  </div>
  {/* theme toggler */}
  <DarkModeToggle client:visible />
</div>

<!-- Mobile Menu -->
<div class="flex md:hidden">
    <MobileNavbar client:load />
</div>