---
import DarkModeToggle from "./darkModeToggle";
import NavLink from "./NavLinks.astro";
import MobileNavbar from "./MobileNavbar";

const navLinks = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Blog",
    href: "/blogs",
  },
  {
    name: "Projects",
    href: "/projects",
  },
  {
    name: "Contact Me",
    href: "/contact",
  },
];
---

<!-- big screens Navbar -->
<div
  class="justify-between items-center bg-gradient-to-r from-fuchsia-200 to-blue-200 dark:from-purple-900 dark:to-blue-900 shadow-lg shadow-fuchsia-900/30 dark:shadow-blue-800/30 px-4 md:px-10 lg:px-60 2xl:px-72 py-4 hidden md:flex"
>
  {/* Left navlinks */}
  <div class="flex justify-center items-center gap-6">
    {navLinks.map((navLink) => <NavLink navHeader={navLink["name"]} navHref={navLink["href"]} />)}
  </div>
  {/* theme toggler */}
  <DarkModeToggle client:visible />
</div>

<!-- Mobile Menu -->
<div class="flex md:hidden">
  <MobileNavbar client:load />
</div>
