---
interface Props {
    navHeader: string;
    navHref: string;
}
const navHeader = Astro.props.navHeader;
const navHref = Astro.props.navHref;
const isCurrent = Astro.url.pathname.endsWith(navHref);
---

<div>
  <a
    href={navHref}
    aria-current={isCurrent ? "page" : "false"}
    class:list={[
      " font-bold text-[17px] 2xl:text-lg hover:scale-105 capitalize dark:hover:bg-blue-700 hover:bg-cyan-400 px-3 py-2 rounded-xl transition-transform transition-shadow hover:shadow-md hover:shadow-blue-400/80 dark:hover:shadow-blue-900/90",
      isCurrent ? "shadow-md shadow-sky-600/90 dark:shadow-sky-700" : "",
    ]}>{navHeader}</a
  >
</div>

